<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .error {color: red}
</style>
<head>
    <meta charset="UTF-8">
    <title>Customer Form</title>
</head>
<body>

<i>Fill the form</i>
<br><br>

<form th:action="@{/processForm}" th:object="${customer}" method="POST">
    First name : <input type="text" th:field="${customer.firstName}">
    <br><br>
    Last name : <input type="text" th:field="${customer.lastName}">

    <span th:if="${#fields.hasErrors('lastName')}"
            th:error="${customer.lastName}"
            class="error">is Required</span>
    <input type="submit" value="Submit"/>
</form>

</body>
</html>